<html>
    <head>
        <link rel='stylesheet' href='/css/bootstrap.css'>
        <link rel='stylesheet' href='/css/styles.css'>
        <title>Rock, Paper, Scissors!</title>
    </head>
    <body>
        <header>
            <h1>Rock, paper, scissors</h1>
            <h3>Head-to-head</h3>
        </header>    
        <div class=container>
            <form action='/result'>
                <div class='left'>
                    <h3>Player one:</h3>
                    <div class='form-group'>
                        <label for='input1'>Choose your weapon:</label>
                        <input id='input1' name='input1' type='password' class='form-control'>
                    </div>
                </div>
                <div class='right'>
                    <h3>Player two:</h3>
                    <div class='form-group'>
                        <label for='input2'>Choose your weapon:</label>
                        <input id='input2' name='input2' type='password' class='form-control'>
                    </div>

                </div>
                <div class='button'>
                    <button type='submit' class='btn-danger'>FIGHT!</button>
                </div>
            </form>

        </div>
    </body>
</html>
