<html>
    <head>
        <link rel='stylesheet' href='/css/bootstrap.css'>
        <link rel='stylesheet' href='/css/styles.css'>
        <title>Results</title>
    </head>
    <body>
        <div class='container'>
            <header>
                <h1>Rock, paper, scissors</h1>
                <h3>{{ result }}</h3>
            </header>
            <a href='/'>
                <div class='btn-danger button'>
                    <p>Again!</p>
                </div>
            </a>
        </div>
    </body>
</html>
