header {
    text-align: center;
    background
}
body {
    background-color: #3A3335;
    color: #B4C5E4;
}
.left {
    float: left;
    width: 45%;
    margin: 2.5%;
}
.right {
    float: right;
    width: 45%;
    margin: 2.5%;
}
.button {
    text-align:center;
    margin:auto;
}
.btn-danger {
    height: 100px;
    width: 200px;
    border-radius: 25px;
    font-size: 4em;
    color: #3A3335;
}
.btn-danger:hover {
    color: #3A3335;
    text-decoration: none;
}

.btn-danger p {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.form-control {
    color: white;
}
